footer.footer
  .container.container--footer
    .footer__content
      .footer__managers
        .managers
          ul.managers__list
            li.managers__item
              .managers__pic  
                +image('content/managers_foto_1.png', 'managers__img')
              .managers__body
                .managers__name Субботин Дмитрий
                .managers__position Менеджер по продажам
                .managers__phone 8 913 070 7122
            li.managers__item
              .managers__pic  
                +image('content/managers_foto_1.png', 'managers__img')
              .managers__body
                .managers__name Екатерина Украинец
                .managers__position Менеджер по продажам
                .managers__phone 8 913 070 7992
            li.managers__item
              .managers__pic  
                +image('content/managers_foto_1.png', 'managers__img')
              .managers__body
                .managers__name Екатерина Украинец
                .managers__position Менеджер по продажам
                .managers__phone 8 913 070 7992
      .footer__bottom
        .footer__info
          .footer__logo
            .logo
              +image('content/logo_footer.png', 'logo__img')
          .footer__desc
            | Вилочные погрузчики, штабелеры Lorem ipsum dolor sit amet, consectetur 
        .footer__menu
          ul.menu
            li
              a Каталог
            li
              a Лизинг
            li
              a O компании
            li
              a Тендерный отдел
            li
              a Сервис и гарантия
            li
              a Тест драйв
            li
              a Оплата и доставка
            li
              a Трейд ин
        .footer__contacts
          .phone
            a.phone__link.phone__link--size-22(href="tel:+78002509946") тел. 8 800 250 9946
          .footer__mail
            a(href="") mail-sale-yandex@mail.ru
          .footer__btn
            button.btn Заказать звонок

          
        

