include ../utils/mixins

<!DOCTYPE html>
html(lang="ru_RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title JAC
.wrapper
  .maincontent
    include ../includes/sidebar
    .container
      header.header
        +image('content/main_bg.png', 'header__img')
        .header__body
          .header__desc
            h2.title.title--header.title--color-span Вилочные погрузчики
              span  JAC
              |  c гарантией
              span  5 лет
              |  и
              br
              | Сервисным обслуживанием
              span в любой точке россии
            h2.title.title--header 
              span Возможность самостоятельного
              |
              br
              span  прохождения "то" без потери гарантии
          button.btn Оставить заявку
        .header__info
          ul.info.info--guarantee
            li.info__item
              .info__item-pic
                +image('icons/parts.png', 'info__item-img')
              .info__item-desc
                p Всегда в наличии запчасти на
                  br
                  | сумму 50 млн руб
            li.info__item
              .info__item-pic
                +image('icons/guarantee.png', 'info__item-img')
              .info__item-desc
                p Гарантия на все погрузчики 5 лет
                  br
                  | или 5 тысяч моточасов
            li.info__item
              .info__item-pic
                +image('icons/engineer.png', 'info__item-img')
              .info__item-desc
                p Бесплатный выезд сервисного инженера
                 br
                 | по гарантийным случаям
      .page-content
        .breadcrumb
          ul.breadcrumb__list
            li.breadcrumb__item 
              a(href="").breadcrumb__link Главная - 
            li.breadcrumb__item.breadcrumb__item--active 
              a(href="").breadcrumb__link Гарантия
        .guarantee
          .sub-menu
            ul.sub-menu__list
              li
                a(href="#sr1").scroll-to Гарантии
              li
                a(href="#sr2").scroll-to Склад Запасных частей
              li
                a(href="#sr3").scroll-to Техническое обслуживание
              li
                a(href="#sr4").scroll-to Постгарантийное обслуживание
              li
                a(href="#sr5").scroll-to Наши сервисные центры
          .section-right#sr1
            ul.guarantee__list
              li
                .guarantee__body
                  .guarantee__pic
                    +image('content/menu-item-1.png', '')
                  .guarantee__info
                    .guarantee__title Двигатель внутреннего сгорания
                    .guarantee__info-desc
                      span 5 лет
                      |  или
                      span  5.000 тыс моточасов
                  .guarantee__desc
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa esse expedita maiores perspiciatis alias, 
                    | ullam impedit voluptatibus ipsum neque laborum, adipisci minima, voluptatem explicabo. Vel necessitatibus amet a numquam inventore?
              li
                .guarantee__body
                  .guarantee__pic
                    +image('content/menu-item-2.png', '')
                  .guarantee__info
                    .guarantee__title Двигатель внутреннего сгорания
                    .guarantee__info-desc
                      span 5 лет
                      |  или
                      span  6.000 тыс моточасов
                  .guarantee__desc
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa esse expedita maiores perspiciatis alias, 
                    | ullam impedit voluptatibus ipsum neque laborum, adipisci minima, voluptatem explicabo. Vel necessitatibus amet a numquam inventore?
            section.section.request
              h2.request__title.request__title--size-24 Узнать подробнее об условии гарантии
              .request__content
                form.request__form(action="")
                    input(type="text", placeholder="Ваше имя").input  
                    input(type="text", placeholder="Ваш телефон").input
                    button(type="submit").btn.btn--request Оставить заявку
            section.section
              ul.list-info.list-info--guarantee.list-info--width-50
                li.list-info__item#sr2
                  h3.item-title.item-title--size-26px СКЛАД ЗАПАСНЫХ ЧАСТЕЙ
                  .list-info__content
                    .list-info__pic
                      .slider
                        .swiper-container.swiper-container-one
                          .swiper-wrapper
                            .swiper-slide
                              +image('content/guarantee-list-1.png', 'list-info__img')
                            .swiper-slide
                              +image('content/guarantee-list-1.png', 'list-info__img')
                            .swiper-slide
                              +image('content/guarantee-list-1.png', 'list-info__img')
                            .swiper-slide
                              +image('content/guarantee-list-1.png', 'list-info__img')
                        .slider-button
                          button.slider-button__item.slider-button__item--prev.prev-one
                          button.slider-button__item.slider-button__item--next.next-one
                        .slider__paginations
                          .swiper-pagination.swiper-pagination-one
                    .list-info__desc.list-info__desc--text.list-info__desc--slider
                      Lorem ipsum dolor sit amet, 
                      | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li.list-info__item.list-info__item--reverse#sr3
                  h3.item-title.item-title--size-26px ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
                  .list-info__content
                    .list-info__desc.list-info__desc--text
                      Lorem ipsum dolor sit amet, 
                      | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .list-info__pic
                      +image('content/guarantee-list-2.png', 'list-info__img')
                li.list-info__item#sr4
                  h3.item-title.item-title--size-26px ПОСТГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ
                  .list-info__content
                    .list-info__pic
                      +image('content/guarantee-list-3.png', 'list-info__img')
                    .list-info__desc.list-info__desc--text
                      Lorem ipsum dolor sit amet, 
                      | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h3.item-title.item-title--size-26px#sr5 НАШИ СЕРВИСНЫЕ ЦЕНТРЫ
            +image('content/guarantee-maps.png', 'list-info__img')
            section.section.request
              h2.request__title.request__title--size-24 НЕ НАШЛИ СЕРВИСНЫЙ ЦЕНТР В СВОЕМ ГОРОДЕ?
                .request__sub-title Будем готовы заключить договор о сервисном обслуживании в любом городе
              .request__content
                form.request__form(action="")
                  input(type="text", placeholder="Ваше имя").input  
                  input(type="text", placeholder="Ваш телефон").input
                  button(type="submit").btn Оставить заявку
  include ../includes/footer