include ../utils/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title JAC
.wrapper
  .maincontent
    include ../includes/sidebar
    .container
      header.header
        +image('content/partners_bg_header.png', 'header__img')
        .header__body
          .header__desc
            h2.title.title--header.title--color-span
              | Спецтехнику марки
              span  jac
              |  выбирают 
              br
              | крупные международные компании
          .header__info
            ul.info
              li.info__item
                .info__item-pic
                  +image('icons/gear.png', 'info__item-img')
                .info__item-desc
                  p Производитель JAC это предприятие с гос. участием КНР
              li.info__item
                .info__item-pic
                  +image('icons/list.png', 'info__item-img')
                .info__item-desc
                  p Погрузчики  производятся под лицензией Toyota 6 серии
              li.info__item
                .info__item-pic
                  +image('icons/shield.png', 'info__item-img')
                .info__item-desc
                  p Гарантия до 5 лет 3 года заводской и 2 года от представительства 
      .page-content
        .breadcrumb.breadcrumb--partners
          ul.breadcrumb__list
            li.breadcrumb__item 
              a(href="").breadcrumb__link Главная - 
            li.breadcrumb__item.breadcrumb__item--active 
              a(href="").breadcrumb__link Нас выбирают
        .partners
          section.section.partners__choice
            h2.title.title--partners Спецтехнику JAC выбирают
            .partners__choice-desc
              ul.list-info
                li.list-info__item.list-info__item--big-margin
                  .list-info__left
                    +image('content/logo_f1.png', 'list-info__img list-info__img--partners')
                  .list-info__body--change-width
                    h3.item-title.item-title--big-size FORMULA-1
                    .list-info__desc
                      p FORMULA-1 - Спецтехника китайской марки JAC была задействована на российском этапе Гран-при «Формулы-1», проходившем в Сочи.
                li.list-info__item.list-info__item--big-margin
                  .list-info__left
                    +image('content/logo_fifa.png', 'list-info__img list-info__img--partners')
                  .list-info__body--change-width
                    h3.item-title.item-title--big-size FIFA
                    .list-info__desc
                      p FIFA- Погрузчики JAC обслуживали фан-зону ЧМ по футболу FIFA 2018 во всех регионах. 
          section.section.partners__use
            h2.title.title--partners Погрузчики JAC в России уже используют
            .partners__use-list
              .companion
                ul.companion__list
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_1.png', 'companion__img')
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_2.png', 'companion__img')
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_3.png', 'companion__img')
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_4.png', 'companion__img')
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_5.png', 'companion__img')
                  li.companion__item
                    a(href="").companion__link
                      +image('content/logo_partners_6.png', 'companion__img')
          section.section.partners__loaders
            .loaders
              ul.loaders__list
                li.loaders__item
                  +image('content/item_model_1.png', 'loaders__img')
                li.loaders__item
                  +image('content/item_model_2.png', 'loaders__img')
                li.loaders__item
                  +image('content/item_model_3.png', 'loaders__img')
                li.loaders__item
                  +image('content/item_model_4.png', 'loaders__img')
                li.loaders__item
                  +image('content/item_model_5.png', 'loaders__img')
                li.loaders__item
                  +image('content/item_model_6.png', 'loaders__img')
          section.section.partners__models
            .models
              .models__left
                h3.models__title Модельный ряд
                .models__subtitle В наличии самые популярные модели которые зарекомендовали себя лучше всего:
                .models__list
                  p JAC СPQD 15 — 100, JAC СPCD 15 — 250, JAC СPD 15 — 50,  JAC CDD 20-60, JAC CBD 15 - 30
                .models__btn
                  button.btn Перейти в каталог
              .models__right
                +image('content/model_1.png', 'models__img')
      include ../includes/footer
