body,
html {
  height: 100%;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;

  @include desktopHd {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablets {
    font-size: 14px;
  }
}

.wrapper {
  min-height: 100%;
}

.maincontent {

  @include laptop {
    padding: 0;
  }
}

.container {
  margin: 0 auto;
  padding-left: 280px;

  @include desktopHd {
    padding-left: 222px;
  }

  @include laptop {
    padding-left: 19% !important;
  }

  @include tablets {
    padding-left: 0 !important;
  }

  &--footer {
    padding-left: 300px;

    @include desktopHd {
      padding-left: 240px;
    }
  
    @include laptop {
      padding-left: 22% !important;
    }
  
    @include tablets {
      padding-left: 0 !important;
    }
  }
}

.page-content {
  padding-right: 20px;

  @include tablets {
    padding: 0 2%;
  }
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button:active, button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  line-height: 1.38;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  //width: 100%;
}

input {
  outline: none;
}

