.additionally__list {
  display: flex;
  margin-left: -9px;
  margin-right: -9px;

  @include net-book {
    flex-wrap: wrap;
  }

  @include tablets {
    flex-wrap: wrap;

    &::after {
      content: "";
      justify-content: flex-start;
      flex-basis: 32%;
    }
  }

  @include phone-max {
    flex-wrap: nowrap !important;
    margin: 0 !important;
  }
}

.additionally__item {
  width: 18%;
  padding: 0 9px 9px 9px;
  display: flex;

  @include net-book {
    width: 25%;

    &:nth-child(n+5) {
      padding: 9px;
    }
  }

  @include tablets {
    width: 32%;
    margin-bottom: 55px;
  }

  @include phone-max {
    padding: 1px !important;
    margin-bottom: 0 !important;
  }
}

.additionally__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.52);
  background-color: #f7f7f7;
  margin-bottom: 16px;
  flex: 1;
  height: 100%;

  @include phone-max {
    height: 346px;
    width: 100%;
  }
}

.additionally__body {
  height: 100%;
  @include phone-max {
    width: 100%;
  }
}

.additionally__img {

  @include phone-max {
    width: auto !important;
  }
}

.additionally__desc {
  display: block;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 3px solid #ed1c24;
}