.cart__header {
  display: flex;
  margin-bottom: 88px;

  @include tablets {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.cart__header-left {
  margin-right: 40px;
  width: 50%;

  @include tablets {
    margin-right: 0;
    width: 100%;
  }
}

.cart__header-pic {

  @include tablets {
    margin-bottom: 20px;
  }
}

.gallery-top {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.21);
  background-color: #f9f9f9;
  padding: 63px 29px 56px 33px;
  margin-bottom: 20px;
}

.gallery-thumbs .swiper-slide {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.21);
  padding: 20px 0;
  cursor: pointer;
}

.cart__header-pic img {
  margin: 0 auto;
  width: 50%;
}

.cart__header-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart__header-right {
  width: 46%;

  @include tablets {
    width: 100%;
  }
}

.cart__header-btn {
  display: flex;
  justify-content: flex-start;

  @include phone-max {
    flex-direction: column;
    align-items: center;
  }
}

.cart__body-content{
  display: flex;

  @include tablets {
    flex-direction: column;
  }

  @include phone-max {
    transform: scaleY(0);
    transform-origin: 0 0;
    max-height: 0;
    transition: all .2s ease-in-out; 
  }
}

.cart__body-show label {
  display: none;

  @include phone-max {
    display: flex;
    justify-content: center;
    margin: 0 auto 80px auto;
  }
}

.cart__body-show input {
  display: none;
}

.cart__body-show input:checked + label + .cart__body-content {
  transition: all .4s;
  transform: scaleY(1);
  max-height: 1350px;
  margin-bottom: 80px;
}

.cart__body-left {
  width: 46%;
  margin-right: 80px;

  @include tablets {
    width: 100%;
    margin-right: 0;
  }
}

.cart__body-right {
  width: 42%;

  @include tablets {
    width: 100%;
  }
}

.cart__body-title {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
}

.cart__additionally {
  margin-bottom: 100px;

  @include tablets {
    margin-bottom: 30px;
  }
}

.cart__recommendations {
  position: relative;
  margin-bottom: 50px;

  @include tablets {
    margin-bottom: 30px;
  }

  @include phone-max {
    margin-bottom: 100px !important;
  }
}

.cart__questions {
  @include phone-middle {
    display: flex;
    flex-direction: column;
  }
}

.cart__header-pic .swiper-wrapper {
  display: flex;
  align-items: center;
}
