.catalog{
  &--main {
    @include phone-max {
      padding: 40px 0 100px 0;
    }
  }
}

.catalog__filter {
  background-color: #f9f9f9;
  padding: 20px 27px;
  margin-bottom: 35px;

  @include phone-max {
    background-color: white;
  }

  @include phone-middle {
    padding: 20px 1px;
  }
}

.catalog__body {
  margin-bottom: 56px;

  @include tablets {
    margin-right: 0;
    margin-left: 0;
  }
}

.catalog__paginations {
  display: flex;
  justify-content: flex-end;

  @include tablets {
    justify-content: center;
  }
}


