.equipment {
  display: flex;  
  flex-wrap: wrap;

  @include tablets {
    margin-right: 0;
    justify-content: center;
  }

  li {
    display: flex;
    padding: 9px;
    width: 25%;
  
    @include desktop {
      width: 50%;
      min-width: auto;
    }
  
    @include tablets {
      width: 100%;
    }
  
    &.active {
  
      .equipment__content {
        background-color: #f7f7f7;
      }
      .equipment__btn--cart {
        display: block;
      }
    }
  }

  &--cart {
    @include phone-max {
      flex-wrap: nowrap;
      overflow: hidden;
    }

    li {
      width: 23%;
      display: inline-block !important;
  
      @include tablets {
        margin-bottom: 28px;
      }

      @include phone-max {
        width: 100% !important;
        margin-bottom: 0 !important;
      }
    }
  }

  @include phone-max {
    flex-wrap: unset;
    justify-content: unset !important;
    margin: 0 !important;
  }

  &--catalog li {
    padding: 1px;
  }
}

.equipment__content {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  width: 100%;

  @include phone-max {
    padding: 0 40px;
    background-color: #f7f7f7;
  }

  @include phone-middle {
    padding:  0 20px;
  }
}

.equipment__body {
  padding: 32px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include phone-max {
    min-height: 230px;
    padding: 32px 0;
  }

  img {
    margin: 0 auto;

    @include phone-max {
      width: auto;
    }
  }
}

.equipment__footer {
  padding: 20px;

  @include phone-max {
    padding: 20px 0;
  }
}

.equipment__footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.equiment__desc{
  margin-bottom: 24px;
  font-size: 14px;
}

.equiment__item-title {
  color: #686868;
  font-weight: 300;
}

.equiment__item-desc  {
  font-weight: 600;
}

.equiment__item {
  display: flex;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include net-book {
    justify-content: space-between;
  }
}

.equiment__item-title, .equiment__item-desc {
  width: 50%;
}

.equiment__item-desc {
  @include net-book {
    width: 40%;
  }
}

.equiment__item-title {
  margin-right: 10px;
}

.equipment__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 14px;

  &--cart {
    margin-bottom: 0;
  }
}

.equipment__sub-title {
  margin-bottom: 35px;
  text-align: center;
}

.equipment__btn {

  text-align: center;

  &--cart {
    display: none;

    @include tablets {
      display: block;
    }
  }
}