.info {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 45px;
  font-size: 20px;

  @include desktopHd {
    font-size: 18px;
    padding: 24px 40px;
  }

  @include laptop {
    font-size: 10px;
    padding: 14px;
  }

  @include tablets {
    padding: 2%;
    max-height: none;
  }


  &--guarantee {
    padding: 30px 15px;

    @include net-book {
      .info__item:not(:last-child) {
        padding-right: 23px;
        margin-right: 30px;
      }
    }

    @include laptop {
      .info__item:not(:last-child) {
        padding-right: 10px;
        margin-right: 18px;
      }
    }
  }

  &--leasing {
    .info__item {
      padding-right: 2%;
      margin-right: 2%;
    }
  }
  
  &--mobile {
    flex-direction: column;
    margin: 30px 0;
    padding: 0 !important;

    .info__item {
      border: none;
      width: 100%;
      justify-content: flex-start;
      background-color: #7d7d7d;
      padding: 16px 12px;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.info__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bbbaba;
  line-height: 1.38;
  font-weight: 300;
  padding-right: 2%;
  margin-right: 2%;
  width: 33%;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;

    @include desktopHd {
      justify-content: flex-start;
    }
  }
}

.info__item-pic {
  width: 70px;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktopHd {
    margin-right: 10px;
  }

  @include desktopHd {
    margin-right: 10px;
  }

  @include laptop {
    margin-right: 10px;
  }
}

.info__item-pic img {
  width: 100%;

  @include desktopHd {
    width: auto;
  }
}

.info__item-desc h3 {
  text-transform: uppercase;
  margin-bottom: 15px;

  @include desktopHd {
    margin-bottom: 4px;
  }

  @include laptop {
    margin-bottom: 5px;
  }

  @include phone-max {
    font-size: 16px;
  }
}

.info__item-desc p {
  opacity: .6;

  @include phone-max {
    font-size: 16px;
  }
}


