.input {
  padding: 15px 16px;
  border: solid 1px #d2d2d2;
  background-color: #f6f6f6;
  width: 100%;
  max-width: 300px;
  color: #858585;

  &::placeholder {
    color: #858585;
  }

  @include desktopHd {
    max-width: 210px;
    padding: 11px 16px;
  }

  @include tablets {
    font-size: 12px;
  }
}

.input:not(:last-child) {
  margin-right: 20px;
}