.item-title {
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  width: fit-content;
  position: relative;

  background-image: linear-gradient(to right,#cc2228 100%, transparent 75%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 3px;

  @include desktopHd {
    font-size: 34px;
  }
  
  @include tablets {
    font-size: 26px;
  }
  
  @include phone-max {
    text-transform: uppercase;
    line-height: 1.31;
    margin-bottom: 30px;
  }

  &--no-style {
    background-image: none;
    margin-bottom: 0 !important;
    display: inline-block;
    padding: 0;
  }

  &--center {
    display: block;
    text-align: center;
    background-image: none;
  }

  &--size-26px {
    font-size: 34px;

    @include desktopHd {
      font-size: 26px;
    }
  }

  &--size-20px {
    font-size: 30px;

    @include desktopHd {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &--center {
    text-align: center;
    width: auto;
  }
}

.item-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}