.list-item {
  display: flex;
  flex-flow: wrap;

  @include phone-max {
    flex-flow: nowrap;
  }
}

.list-item li {
  width: 33.3%;
  border: solid 1px #c5c5c5;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include laptop {
    width: 50%;
  }

  @include phone-max {
    background-color: #f7f7f7;
    align-items: center;
    min-height: 470px;
  }
}

.list-item__pic {
  padding: 40px 0;
  flex: 1;
  display: flex;
  align-items: center;

  @include phone-max {
    max-width: 328px;
    max-height: 241px;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 90%;
  }
}

.list-item__pic img {
  width: 50%;
  margin: 0 auto;

  @include desktopHd {
    width: auto;
  }
}

.list-item__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phone-max {
    flex-direction: column;
  }
}

.list-item__desc span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;

  @include desktopHd {
    font-size: inherit;
  }

  @include phone-max {
    display: block;
    margin-bottom: 30px;
    font-size: 26px;
  }
}

.list-item__link {
  display: inline-block;
  background-color: #f9c428;
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid rgba(0,0,0,.64);
    border-right: 2px solid rgba(0,0,0,.64);
    display: inline-block;
    margin-right: 4px;
  }

  @include desktopHd {
    width: 33px;
    height: 33px;
  }

  @include phone-max {
    display: none;
  }
}

.list-item__info {
  display: none;
  font-size: 16px;
  margin-bottom: 30px;

  @include phone-max {
    display: block;
    text-align: center;
  }
}