.list-red-cub {
  display: flex;
  flex-direction: column;
  font-size: 24px;

  @include desktopHd {
    font-size: inherit;
  }

  li {
    display: inline-flex;
    font-weight: 300;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 40px;
      
      @include desktopHd {
        margin-bottom: 20px;
      }
    }

    &::before {
      content: attr(data-index);
      min-width: 45px;
      height: 45px;
      background-color: #ed1c24;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      margin-right: 20px;
    
      @include desktopHd {
        min-width: 28px;
        height: 28px;
      }
    }
 
  }

  &--flex-row {
    flex-direction: row;
    justify-content: space-between;

    @include phone-max {
      flex-direction: column;
    }

    li {
      margin-bottom: 0;
      width: 30%;

      @include phone-max {
        width: 100%;
      }
    }
  }

  &--no-cub {
    & li::before {
      display: none;
    }
  }
}
