.main__list {
  margin-bottom: 110px;
}

.main__maps {
  @include phone-max {
    display: flex;
    flex-direction: column;
  }
}

.main__maps img {
  width: 100%;

  @include phone-max {
    width: auto;
  }
}

.main__certificate {
  @include phone-max {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}

.main__certificate ul {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    justify-content: center;
  }

  @include phone-max {
    flex-wrap: nowrap;
    justify-content: stretch !important;
  }
}

.main__certificate ul li {
  padding: 0 40px 40px 0;
  box-sizing: content-box;

  @include tablets {
    width: 34%;
    padding: 0;
  }
}

.main__certificate ul li img {
  
  @include tablets {
    margin: 0 auto;
  }

  @include phone-max {
    width: 50%;
  }
}
