.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__btn {
  text-align: center;
  margin-top: 38px;
  font-size: 18px;
}

.partners__btn a {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid #ed1c24;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--company {
    li {
      width: 32% !important;
      margin-bottom: 50px !important;

      &:nth-child(n+4) {
        margin-bottom: 0 !important;
      }
    }
  }
}

.partners__list li {
  width: 25%;
  margin-bottom: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: grayscale(100%);
  opacity: .5;

  &:hover {
    opacity: 1;
    filter: grayscale(0%);
    transition: .5s;
  }

  &:nth-child(n+13) {
    margin-bottom: 0;
  }
}

.partners__list li img {
  width: 70%;
}