.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 50;

  @include laptop {
    width: 18%;
    font-size: 12px;
  }

  @include tablets {
    bottom: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.35);
    width: 25%;
    left: -240px;
  }

  @include phone-max {
    width: 50% !important;
  }

  & .btn {
    font-size: 12px;
    padding: 10px;
  }
}

.sidebar__content {
  background: #fff;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-between;

  @include laptop {
    padding: 10px;
  }
}

.sidebar__logo {
  margin-bottom: 80px;

  @include desktopHeight {
    margin-bottom: 40px;
  }

  @include laptop {
    margin-bottom: 15px;
  }
}

.sideber__item {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;

  &:hover {
    color: #ed1c24;
    transition: .5s;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include phone-max {
    margin-bottom: 10px;
  }
}

.sidebar__list {
  margin-bottom: 20px
}

.sidebar__contacts {
  margin-bottom: 15px;
}

.sidebar__selected {
  @include desktopHeight {
    display: none;
  }
}

.logo img {
  @include tablets {
    width: 80%;
  }
}

.sidebar__close {
  display: none;

  @include tablets {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    right: 2%;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    opacity: .5;
  }
}